body {
    color:white;
    margin: 0;
    padding: 0;
    height: 100vh; /* Faz com que o corpo ocupe a altura total da janela */
    background-image: url('../img/gatinfo.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir o fundo completamente */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Faz a imagem de fundo rolar com a página */
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    display: flex;
    justify-content:space-between;
    list-style-type: none;
    align-items:center ;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(79, 0, 128);
}
.center {
    text-align: center;
}

h1{
    color: rgb(79, 0, 128);
}